
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
  </head>
  <body>
    <form action="/results" method="post">
      <label for="dis">Distance:</labal>
             <input type="text" name="speed" id="dis" placeholder="1.871"
             maxlength="6" required>
             <label for="spe">/ Speed:</labal>
             <input type="text" name="distance" id="spe" placeholder="3.476"
             maxlength="6" required>
             <input type="submit" value="Result">
         </form>
  </body>
</html>
